In [1]:
a=int(input()) 
b=int(input())
if a>b: 
    print('a is greater') 
else:    
        print('a is greater')

In [ ]:
a,b,c=input().split()
a=int(a)
b=int(b)
c=int(c)
if a>b and a>c:
    print('%d is a greater' % a)
elif b>c:
    print('%d is a greater' % b)
else:
    print('%d is a greater' % c)

In [ ]:
5**2

In [ ]:
20>5

In [ ]:
a=10
b=30
print(a+b)

In [ ]:
-5//-2

In [ ]:
-5//2

In [ ]:
x=20
print("Hi "+str(x))

In [ ]:
# Program to check if a number is prime or not
num = 29
flag = False
if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
    
            break
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

In [ ]:
for x in range(6):
    print(x)

In [ ]:
for x in  "Banana":
    print(x)

In [ ]:
for i in range(10,0,-1):
    print(i)

In [ ]:
n=' '
for x in  'Banana':
    n=n+' '+x
print(n)

In [ ]:
for i in range(100,0,-1):
    print(i)

In [ ]:
n=int(input())
for i in range(1,n):
    print(i)

In [ ]:
n=int(input())
for i in range(1,n,2):
    print(i)

In [ ]:
n=int(input())
for i in range(0,n,2):
    print(i)

In [ ]:
n =1000
for i in range(n,0,-1):
    print(i)

In [ ]:
number= int(input("please Enter any number:"))
i = number

while ( i>=1):
    print(i, end = ' ')
    i = i -1

In [ ]:
for i in range(1,11):
    for j in range(0,i):
        print(i, end=" ")
        
    print('')

In [ ]:
for i in range(11,1,-2):
    for j in range(0,i):
        print(i, end=" ")
        
    print('')

In [ ]:
print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

In [ ]:
for i in range(1,11):
    for j in range(0,i):
        print(i, end=" ")
        
    print('')

In [ ]:
for i in range(1,11,2):
    for j in range(0,i):
        print(i, end=" ")
        
    print('')

In [ ]:
for i in range(11,1,-2):
    for j in range(0,i):
        print(i, end=" ")
        
    print('')

In [ ]:
list1=[12,14,16,18,20]
list2=[9,10,32,54,86]
l=list1+list2
print(l)

In [ ]:
list1=[1,2,3,4,5,6]
list2=[7,8,9,2,6]
for x in list1:
    for y in list2:
        if x==y:
            print("the common element is ",y)

the common element is  2
the common element is  6

In [ ]:
s='err'
vowels='a'
if len(s) == len(vowels) :
    print("Accept")
else:
     print("Not Accepted")

Not Accepted

In [ ]:
clg="BIHAR"
clg = "".join(reversed(clg))
print(clg)

RAHIB

In [ ]:
String1 = "CMR Institute of Technology"
print("Initial String: ")
print(String1)

Initial String:
CMR Institute of Technology

In [ ]:
String1 = "Hello, I'm a student"
print("Initial String: ")
print(String1)
print("\nDeleting entire String: ")

Initial String:
Hello, I'm a student

Deleting entire String:

In [ ]:
String1 = "{} {} {}".format('Geeks', 'for', 'life')
print(String1)

Geeks for life

In [ ]:
String1= "{0} {2} {1}".format('Geeks', 'for', 'life')
print(String1)

Geeks life for

In [ ]:
def check(s1,s2):
    if(sorted(s1)== sorted(s2)):
        print("The string are anagrams.")
    else:
        print("The string aren't anagrams.")
            
            
s1="Lisen"
s2="silence"
check(s1,s2)

The string aren't anagrams.

In [ ]:
sentence=input("enter the sentence")
n=int(input("enter value of n"))
def senToword(sen,n):
    word=[]
    sen=sen.split(" ")
    for i in sen:
        if len(i)>n:
            word.append(i)
    return word
print(senToword(sentence,n))

enter the sentencei am learning python at cmrit
enter value of n7
['learning']

In [ ]:
fruits=["apple","banana","cherry","kiwi","mango"]
newList =[x for x in fruits if "a" in x]
print(newList)

['apple', 'banana', 'mango']

In [ ]:
v=[i for i in range(1,11) if i%2!=0]
print(v)

[1, 3, 5, 7, 9]